<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../../bower_components/flickr-handler/flickr-handler.html"> -->
<link rel="import" href="../../../bower_components/app-layout/app-grid/app-grid-style.html">
<!-- <link rel="import" href="../elements/html"> -->
<link rel="import" href="../style/fragment-style.html">


<dom-module id="portfolio-photography">
  <template>
    <style include="portfolio-style">
      .css-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 8px;
        grid-auto-rows: minmax(100px, auto);
      }

      .css-grid-item:first-child, .css-grid-item:nth-child(5n+1), .css-grid-item:last-child {
        grid-column: span 1;
      }

      @media only screen and (min-width: 576px) {

        .css-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 8px;
          grid-auto-rows: minmax(200px, auto);
        }

        .css-grid-item:first-child, .css-grid-item:nth-child(5n+1), .css-grid-item:last-child {
          grid-column: span 2;
        }
      }

      @media only screen and (min-width: 768px) {

        .css-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 8px;
          grid-auto-rows: minmax(250px, auto);

        }

        .css-grid-item:first-child, .css-grid-item:nth-child(5n+1), .css-grid-item:last-child {
          grid-column: span 2;
        }

      }

      @media only screen and (min-width: 992px) {
        .css-grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 8px;
          grid-auto-rows: minmax(350px, auto);

        }

        .css-grid-item:first-child, .css-grid-item:nth-child(5n+1), .css-grid-item:last-child {
          grid-column: span 4;
        }

        .css-grid-item:hover {

        }

      }



      @media only screen and (min-width: 1200px) { }

     .css-grid-item {
        position: relative;
        background-color: white;
        width: 100%;
        height: 100%;
      }

     .css-grid-item * {
       display: inline-block;
     }

     .css-grid-item iron-image {
       height: 100%;
       width: 100%;
     }

     /*.css-grid-item .overlay {
       position: absolute;
       pointer-events: none;
       height: 100%;
       width:  100%;
       top: 0px;
       left: 0px;
       background-color: none;
     }*/



     .overlay {
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       z-index: 1;
       pointer-events: none;
       transition: background-color .15s ease-in-out;
     }
     .css-grid-item:hover .overlay,
     .css-grid-item:active .overlay,
     .css-grid-item:focus .overlay {
       background-color: rgba(144, 202, 249, .15);
       /*position: absolute;*/
     }


    </style>
    <article>
      <h2 class="section-header">Photography</h2>


      <flickr-handler id="flickr"
        key='28c5968283d6f308010058714cbc80fb'
        user='158128259@N08'
        photos="{{flickrPhotos}}"
        per-page='{{numberOfPhotos}}'>
      </flickr-handler>

      <div class="css-grid">
        <template is="dom-repeat" items="{{flickrPhotos}}">
          <!-- <img src="[[_getPhotoUrl(item)]]" class="css-grid-item" alt="Flickr Image"></img> -->

          <div class="css-grid-item">
            <iron-image src$="[[_getPhotoUrl(item)]]" sizing="cover" alt="Flickr image"></iron-image>
            <div class="overlay"></div>
          </div>

        </template>
      </div>
    </article>
  </template>

  <script>
    class PortfolioPhotography extends Polymer.Element {
      static get is() { return 'portfolio-photography'; }
      static get properties() {
        return {
          handler: {
            type: Object
          },
          flickrPhotos: {
            type: Array,
            value() {
              return [];
            }
          },
          deletedItem: {
            type: Object,
            value: {}
          },
          numberOfPhotos: {
            type: Number,
            value: 6
          }
        };
      }


      ready() {
        super.ready();
        this.handler = this.$.flickr;
        this.handler._loadMore();
      }

      _photosChanged(newValue, oldValue) {
        // if (oldValue == null && this.displayGridQuery) {
        //   if (oldValue != 0) {
        //     console.log('photosChange');
        //     console.log(newValue);
        //     console.log(oldValue);
        //
        //     this._mediaQueryTriggered(this.displayGridQuery, null);
        //   }
        // }
      }

      _mediaQueryTriggered(newValue, oldValue) {

        // console.log('newValue: ' + newValue +'\nOldValue: ' + oldValue);
        if (this.flickrPhotos.length > 0) {
          if (newValue == true)
          {

            this.pop(this.flickrPhotos);
            return;
          }
          else if (newValue == false && oldValue == true) {

            this.push(this.flickrPhotos, this.deletedItem);
            this.deletedItem = null;
          }

        }
      }


      _getPhotoUrl(photo) {
        // console.log(photo);
        return 'https://farm'
                + photo.farm
                + '.staticflickr.com/'
                + photo.server
                + '/' + photo.id + '_'
                + photo.secret + '_b.jpg';
      }
    }

    window.customElements.define(PortfolioPhotography.is, PortfolioPhotography);
  </script>
</dom-module>
